
@{

}

@model BooksViewModel;
@*<h1>@ViewBag.Calc</h1>*@
<div class="row pt-4">
    <div class="col-1"></div>
    <div class="col-2">
        <h1 class="align-content-around" style="font-family: 'Courier New'">Amazon Bookstore</h1>
    </div>
    <div class="col-9">
        <img src="~/img/amazon.jpg" height="100" />
    </div>
</div>
<div class="row">
    <div class="container">
        @foreach (Book b in Model.Books)
        {
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3 text-center font-weight-bold">
                    <h3>@b.Title</h3>
                </div>
                <div class="col-6 align-items-center text-secondary">
                    <ul>
                        <li>Author: @b.Author</li>
                        <li>Category: @b.Category</li>
                        <li>Publisher: @b.Publisher</li>
                        <li>ISBN: @b.Isbn</li>
                        <li>Classification: @b.Classification</li>
                        <li>Page Count: @b.PageCount Pages</li>
                        <li>Price: $@b.Price</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
@*<a asp-action="Index" asp-route-pageNum="1">1</a>
    <a asp-action="Index" asp-route-pageNum="2">2</a>
    <a asp-action="Index" asp-route-pageNum="3">3</a>*@
<nav aria-label="Page navigation example">
    <div page-blah="@Model.PageInfo" page-action="Index"></div>
</nav>